:root {
  --light-clr-1: #ffffff;
  --light-clr-2: #c3cde0;

  --dark-clr-1: #191e29;
  --dark-clr-2: #132d46;

  --accent-clr-1: #01c38d;
  --accent-clr-2: #ca4837;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  color: var(--light-clr-2);
  background-color: var(--dark-clr-1);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}